#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.footer{
  background-color: black;
  color: white;
  width: 100%
}
.header{
  background-image: url('src/assets/Header.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
}